.profile_container {
  padding: 20px;
  background-color: #f4fff4;
  border-radius: 10px;
}
.admin_power {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editLogo,
.deleteLogo {
  cursor: pointer;
}
.profile_backImg {
  width: 100%;
  height: 200px;
}
.profile_backImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.profile_colOneDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-25%);
}
.profile_colOneDiv img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
  border: solid white;
}
.profile_colOneDiv h5 {
  margin: 20px 0;
  color: green;
  font-weight: 800;
}
.profile_colOneDiv button {
  height: 36px;
  width: 160px;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: white;
}
.profile_rc {
  text-align: left;
}
.profile_rc input {
  height: 36px;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 6px;
  border: none;
  color: rgb(38 37 37);
  background: #e2ffef;
}
.profile_rc textarea {
  padding: 6px;
  color: rgb(38 37 37);
  background: #e2ffef;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .profile_rc {
    text-align: center;
  }
}
